on:
  workflow_dispatch:
  repository_dispatch:
    types: [update_stencil2]
  push:
    paths: [".github/workflows/*.yml"]

permissions:
  contents: write

jobs:
  trigger:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: x86_64

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
      with:
        packages: pacman-package-manager libarchive-tools
        version: 1.0

    - run: |
        mkdir stencil2
        curl "https://github.com/MRT-Map/stencil2/raw/master/build/linux/PKGBUILD" -Lo stencil2/PKGBUILD

    - uses: iiiii7d/archlinux-package-action@main
      with:
        path: x86_64/stencil2
        flags: '-sr --noconfirm'
        namcap: false
        aur: true

    - run: rm stencil2-*.pkg.tar.zst
    - run: mv stencil2/*.pkg.tar.zst .
    - run: repo-add -R arch-mrt-map.db.tar.gz *.pkg.tar.zst

    - run: sudo rm -r stencil2

    - run: echo "message=update @ $(date +%Y%m%dT%H:%M:%S%Z)" >> "$GITHUB_ENV"
    - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
      with:
        default_author: github_actions
        message: ${{ env.message }}
